/* TODO: clean all ts up */

.kanban {
  min-height: 100vh;
  /* TODO: fix, can't see entire board on mobile */
  max-width: 100vw;
  overflow-x: auto;

  display: flex;
  justify-content: center;
  gap: var(--space-1);

  padding: var(--space-1);
}

.column {
  flex: 1;

  padding: var(--space-2);

  background-color: var(--bg);

  border-radius: var(--radius);

  display: flex;
  flex-direction: column;
}

.column__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column__title-group {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.column__title {
  font-weight: 600;
  font: var(--title);
}

.column__description {
  color: var(--subtext);
  margin: var(--space-1) 0 var(--space-2) 0;
}

.column__count {
  border: var(--border);
  border-radius: var(--radius);

  padding: 0.125rem 0.5rem;

  color: var(--subtext);
}

.column__dot {
  width: 0.625rem;
  height: 0.625rem;

  border-radius: var(--radius);
}
#apply .column__dot {
  background-color: var(--apply);
  box-shadow: 0 1px 10px var(--apply);
}
#progress .column__dot {
  background-color: var(--progress);
  box-shadow: 0 1px 10px var(--progress);
}
#reject .column__dot {
  background-color: var(--reject);
  box-shadow: 0 1px 10px var(--reject);
}
#offer .column__dot {
  background-color: var(--offer);
  box-shadow: 0 1px 10px var(--offer);
}

.dropzone {
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  height: 100%;

  scrollbar-width: none;
}

.item {
  background-color: white;

  min-width: 20rem;

  list-style: none;

  padding: var(--space-1);

  border: var(--border);
  border-radius: var(--radius);
}
.item:hover {
  cursor: grab;
  border-color: black;
}
.item:active {
  cursor: grabbing;
  border-color: var(--backdrop);
}

.item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.item__button {
  background: transparent;
  border: none;
}
.item__button:hover {
  font-weight: bold;
}

.item__menu {
  position: absolute;
  right: 0%;
  top: 105%;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-1);

  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: var(--radius);

  padding: var(--space-1);

  background-color: white;
}
.item__menu:hover {
  cursor: default;
}

.item__menu button {
  background-color: transparent;
  border: none;

  color: var(--subtext);
}
.item__menu button:hover {
  color: black;
}

.item__company {
  color: var(--subtext);
}

.item__date {
  color: var(--subtext);

  font-size: 0.75rem;

  margin-top: 1ch;
}
