/* TODO: clean all ts up */

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  gap: var(--space-1);

  padding: var(--space-2);
}

.column {
  flex: 1;

  padding: var(--space-z);

  background-color: var(--bg);

  border-radius: var(--radius);

  display: flex;
  flex-direction: column;
}
/* @media (width < 1500px) {
  .container {
    flex-direction: column;
  }
} */
.column__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column__title-group {
  display: flex;
  align-items: center;
  gap: var(--space-z);
}
.column__title {
  font-weight: 600;
  font-size: 1rem;
}
.column__description {
  color: var(--subtext);
  margin: var(--space-1) 0 var(--space-z) 0;
}
.column__count {
  border: var(--border);
  border-radius: var(--circle);

  padding: 0.125rem 0.5rem;

  color: var(--subtext);
}
.column__dot {
  width: 0.625rem;
  height: 0.625rem;

  border-radius: var(--circle);
}
#apply .column__dot {
  background-color: var(--apply);
  box-shadow: 0 1px 10px var(--apply);
}
#progress .column__dot {
  background-color: var(--progress);
  box-shadow: 0 1px 10px var(--progress);
}
#reject .column__dot {
  background-color: var(--reject);
  box-shadow: 0 1px 10px var(--reject);
}
#offer .column__dot {
  background-color: var(--offer);
  box-shadow: 0 1px 10px var(--offer);
}

.dropzone {
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  height: 100%;

  scrollbar-width: none;
}

.item {
  background-color: white;

  list-style: none;

  padding: var(--space-2);

  border: var(--border);
  border-radius: var(--radius);

  cursor: grab;
}
.item:active {
  cursor: grabbing; /* TODO: for some reason mouse is error symbol when dragging */
}
.item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}
.item__role {
}
.item__button {
  background: transparent;
  border: none;
}
/* TODO: animate it so that it fades in from right to left upon appearance */
.item__options {
  position: absolute;
  right: 0%;
  top: 105%;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-1);

  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: var(--radius);

  padding: var(--space-2);

  background-color: white;
}
/* TODO: each option (edit and delete) needs hover effects */
.item__options button {
  background-color: transparent;
  border: none;

  color: var(--subtext);
}
.item__company {
  color: var(--subtext);
}
.item__date {
  color: var(--subtext);

  font-size: 0.75rem;

  margin-top: 1ch;
}
