#create-button {
  background-color: white;

  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;

  height: 2.5rem;
  width: 2.5rem;

  font-size: 1.5rem;

  border: var(--border);
  border-radius: var(--radius);
}
#create-button:hover {
  border-color: black;
}

#modal {
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--radius);

  margin: auto;

  background-color: white;

  min-width: 20rem;
}
#modal::backdrop {
  background-color: var(--backdrop);
}

.modal__content {
  padding: var(--space-2);
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-1);
}

.modal__title {
  font: var(--title);
}

.modal__close-button {
  width: 2rem;
  height: 2rem;

  font-size: 1.25rem;

  border: var(--border);
  border-radius: var(--radius);

  background-color: white;
}
.modal__close-button:hover {
  border-color: black;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  margin-top: var(--space-1);
}

.modal__input {
  width: 100%;

  padding: var(--space-1);

  border: var(--border);
  border-radius: var(--radius);
  outline: none;
}
.modal__input:focus {
  border-color: black;
}

.modal__submit-button {
  margin-top: var(--space-1);
  padding: var(--space-1) var(--space-2);

  background-color: var(--bg);

  border: var(--border);
  border-radius: var(--radius);
}
.modal__submit-button:hover {
  margin-top: var(--space-1);
  padding: var(--space-1) var(--space-2);

  background-color: var(--bg);

  border-color: black;
  border-radius: var(--radius);
}
