/* TODO: make modal prettier */

#create-button {
  background-color: white;

  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;

  height: 2.5rem;
  width: 2.5rem;

  font-size: 1.5rem;

  border: var(--border);
  border-radius: var(--circle);
}

#modal {
  position: fixed;
  inset: 0;
  z-index: 50;

  background-color: rgba(0, 0, 0, 0.25);

  display: none; /* default hidden, javascript sets to "flex" on click */
  align-items: center;
  justify-content: center;
}

.modal__content {
  background-color: white;

  border-radius: var(--radius);

  padding: var(--space-2);
}
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal__title {
  font-weight: 600;
  font-size: 1rem;
}
.modal__close-button {
  height: 1.5rem;
  width: 1.5rem;

  font-size: 1rem;

  border: var(--border);
  border-radius: var(--radius);
}
.modal__form {
  margin-top: var(--space-2);
}
